/** @format */

.cardShadow:hover {
  animation: card-shadow 0.5s cubic-bezier(0, 0.2, 0.8, 1);
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

@keyframes card-shadow {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 114, 94, 0.8);
  }

  100% {
    box-shadow: 0px 0px 37px 10px rgba(255, 114, 94, 0.8),
      0px 0px 10px 5px rgba(255, 114, 94, 0.1);
  }
}
