/** @format */
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnPrimary {
    @apply w-fit cursor-pointer select-none rounded-md bg-primary py-2 px-4  font-bold text-white shadow-primaryDark duration-200 active:brightness-90 sm:hover:brightness-110;
  }
  .btnPrimaryDisabled {
    @apply w-fit cursor-pointer select-none rounded-md bg-slate-400 py-2 px-4  font-bold text-slate-800 shadow-primaryDark duration-200 active:brightness-90 sm:hover:brightness-110;
  }
  .btnSecondary {
    @apply w-fit  cursor-pointer  select-none rounded-md bg-blue-300 py-2 px-4 text-slate-900  shadow-primaryDark  active:brightness-90 sm:hover:bg-blue-300 sm:hover:brightness-110;
  }
  .btnSecondaryDisabled {
    @apply w-fit  cursor-pointer select-none rounded-md bg-transparent px-4 pt-2 text-white shadow-[inset_0px_0px_0px_1px_rgba(255,255,255,1),2px_3px_2px_0px_rgba(255,_255,_255,0.3)] duration-200 active:brightness-90;
  }
  .menuHeader {
    @apply rounded-t-lg border-b-2 border-darkJungle-500 bg-darkJungle-700 font-semibold;
  }
  .menuContainer {
    @apply rounded-xl border-2 border-darkJungle-700 bg-darkJungle-800;
  }
  .menuBlock {
    @apply rounded-lg  border-2  border-darkJungle-500 bg-darkJungle-600 duration-200 sm:hover:border-slate-300;
  }
}

@layer utilities {
  /* sliders */
  .customSlider {
    /* max width of your slider */
    max-width: 450px;
    /* Optional: Only If you want to center your slider in the page */
    margin: auto;
  }

  .customSlider-track {
    /* Top value to align your track to the center of your thumb */
    top: 6px;
    /* thickness of the track */
    height: 8px;
    border-radius: 4px;
    /* default color of your track */
    background: rgba(255, 255, 255, 1);
  }

  .customSlider-thumb {
    cursor: pointer;
    /*color for the thumb */
    background: #5f9df7;
    /* shape of the thumb: circle */
    width: 20px;
    height: 20px;
    border-radius: 100%;
    /* remove default outline when selected */
    outline: none;
  }

  .customSlider-thumb:hover {
    box-shadow: 0 0 0 8px rgba(95, 157, 247, 0.4);
    transition: 200ms;
  }
  .customSlider-thumb:active {
    box-shadow: 0 0 0 8px rgba(95, 157, 247, 0.4);
  }
  /* sliders */

  /* scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #cbdeff;
    border-radius: 5px;
  }

  .invisTrack::-webkit-scrollbar-track {
    background: #4e5d71;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff725e;
    border-radius: 5px;
  }
  .invisTrack::-webkit-scrollbar-thumb {
    background: #3a495c;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e6614f;
  }
  .invisTrack::-webkit-scrollbar-thumb:hover {
    background: rgb(56, 70, 87);
  }
  /* scrollbar */
  .gridChild {
    grid-area: 1 / 1 / 2 / 2;
  }

  /* hide arrows in input numbers */
  .removeArrow[type="number"]::-webkit-inner-spin-button,
  .removeArrow[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* hide arrows in input numbers */
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background: rgb(18, 30, 47);
  background: linear-gradient(150deg, rgba(18, 30, 47, 1) 0%, rgba(6, 10, 15, 1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: auto;
  scroll-padding-top: 5rem;
  box-sizing: border-box;
}

/* color picker package adjustments  doesnt work as utility class*/
.chrome-picker input {
  background-color: white;
  color: black;
}

.swatches-picker div {
  background-color: #172437;
}
/* color picker package adjustments doesnt work as utility class*/
