/** @format */
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnPrimary {
    @apply bg-primary text-white font-bold w-fit duration-200 py-2 px-4  rounded-md cursor-pointer shadow-primaryDark select-none sm:hover:brightness-110 active:brightness-90;
  }
  .btnSecondary {
    @apply bg-blue-300 text-slate-900  w-fit duration-200 py-1 px-4  rounded-md cursor-pointer shadow-primaryDark select-none sm:hover:bg-blue-300 sm:hover:brightness-110 active:brightness-90 !opacity-100;
  }
  .btnSecondaryFalse {
    @apply bg-transparent text-white shadow-none sm:hover:brightness-100;
  }
  .menuHeader {
    @apply bg-darkJungle-600 rounded-t-lg border-b-2 border-darkJungle-500 font-semibold;
  }
  .menuContainer {
    @apply border-2 rounded-xl bg-darkJungle-800 border-darkJungle-700;
  }
  .menuBlock {
    @apply bg-darkJungle-600  rounded-lg  border-2 border-darkJungle-500;
  }
}

@layer utilities {
  /* sliders */
  .customSlider {
    /* max width of your slider */
    max-width: 450px;
    /* Optional: Only If you want to center your slider in the page */
    margin: auto;
  }

  .customSlider-track {
    /* Top value to align your track to the center of your thumb */
    top: 6px;
    /* thickness of the track */
    height: 8px;
    border-radius: 4px;
    /* default color of your track */
    background: rgba(255, 255, 255, 1);
  }

  .customSlider-thumb {
    cursor: pointer;
    /*color for the thumb */
    background: #5f9df7;
    /* shape of the thumb: circle */
    width: 20px;
    height: 20px;
    border-radius: 100%;
    /* remove default outline when selected */
    outline: none;
  }

  .customSlider-thumb:hover {
    box-shadow: 0 0 0 8px rgba(95, 157, 247, 0.4);
    transition: 200ms;
  }
  .customSlider-thumb:active {
    box-shadow: 0 0 0 8px rgba(95, 157, 247, 0.4);
  }
  /* sliders */

  /* scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #cbdeff;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff725e;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e6614f;
  }
  /* scrollbar */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background: rgb(18, 30, 47);
  background: linear-gradient(150deg, rgba(18, 30, 47, 1) 0%, rgba(6, 10, 15, 1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ripple div {
  position: absolute;
  border: 2px solid rgba(18, 30, 47, 1);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 36px;
    height: 36px;
    opacity: 0;
  }
}
