/** @format */
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnPrimary {
    @apply bg-primary text-white font-bold w-fit duration-200 py-2 px-4  rounded-md cursor-pointer shadow-primaryDark select-none hover:brightness-110 active:brightness-90;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
