/** @format */

.card {
  position: absolute;
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.cardAnimation {
  animation-name: cardAnimation;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes cardAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(
      calc(270px * var(--card-index) + 0px * var(--card-index)),
      calc(270px * var(--card-row) + 24px * var(--card-row))
    );
  }
}

.waveText {
  animation-name: wave;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes wave {
  0%,
  100% {
  }
  10% {
    transform: translateY(0);
    color: white;
  }
  20% {
    transform: translateY(-10px);
    color: #ff725e;
  }
  30% {
    transform: translateY(0);
  }
}
